.tab-container{
    position: relative;
}
.nav-tab{
    display:table;
    width:800px;
    box-sizing: border-box;
    position: relative;
    top: 1px;
    border:1px solid #222;
    border-bottom:none;
}
.tab-title{
    display:table-cell;
    border-right:1px solid #222;
    height:2em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.tab-title:last-child{
    border-right:none;
}
.tab-content{
    display:none;
    width:800px;
    height:600px;
    border: 1px solid #222;
    box-sizing: border-box;
    background-color:#ddd;
}

.tab-title-shown{
    border-bottom: 1px solid #ddd;
}

.shown{
    display:block;
}