*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #509fb1;
}
#container{
    width: 800px;
    height: 500px;
    margin: 40px auto;
    background-color: #9eb7ba;
    text-align: center;
    padding-top: 30px;
}
h1{
    color: #fff;
}
.listname{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #b4652f;
    outline: none;
    margin: 20px 0px;
    color: #fff;
    border: none;
}
.items>li{
    color: #fff;
    font-size: 20px;
    /* border: 1px solid red; */
    width: 500px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 2px dotted #b4652f;
}
.items>li .chexb{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0px 10px;
}
.delicon{
    border: 2px dotted red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}
.listcxt{
    background-color: #9eb7ba;
    outline: none;
    border: none; 
    width: 400px;
    height: 25px;
    color:#fff;
}